/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('https://github.com/Fonts4me/fnts/BogleWeb-Regular.ttf') format('truetype'),
    url('https://github.com/Fonts4me/fnts/BogleWeb-Black.ttf') format('truetype'),
    url('https://github.com/Fonts4me/fnts/BogleWeb-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
